NODE_ENV=development
PORT=3001
HOST=0.0.0.0

ALLOWED_HOST=wanshitong.57regiment.local
CORS_ORIGINS=http://hermes.57regiment.local:5173,http://foxwatcher.57regiment.local:5174,http://renenutet.57regiment.local:3003

#Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wanShiTong"

WANSHITONG_SERVICE_URL=

# Better Auth — générer avec: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
COOKIE_DOMAIN=
SESSION_REFRESH_TIME=5m

# Discord OAuth2 — https://discord.com/developers/applications
DISCORD_GUILD_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

