NODE_ENV=development
PORT=3001
HOST=0.0.0.0

ALLOWED_HOST=wanshitong.57regiment.local
CORS_ORIGINS=http://hermes.57regiment.local:5173,http://renenutet.57regiment.local:3003

# PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/wan-shi-tong"

# Better Auth — générer avec: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
COOKIE_DOMAIN=http://localhost:3001
SESSION_REFRESH_TIME=.57regiment.local

# Discord OAuth2 — https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
